@media screen and (max-width: 700px) {
  #logoContainer span{
    font-size: 1.5rem;
  }
  main{
    flex-direction: column;
    height: 830px;
  }
  main div{
    width: 90%;
    margin: auto;
    text-align: center;
  }

  main .greet{
    order: 2;
  }

  main .profile{
    order: 1;
  }

  .greet div .name{
    font-size: 2.5rem;
  }

  .greet div button{
    min-width: 200px;
    max-width: 300px;
  }
  

  .profile div{
    animation: slideRight 1s ease-out 0.5s 1 forwards, movey 10s ease-out infinite forwards;
  }

  .image-container img{
    animation: slideUp 1s ease-out 1.3s 1 forwards;
  }

}